# Byte-compiled / cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
env/
logs/
ENV/

# Distribution
build/
dist/
*.egg-info/

# Test & coverage
.pytest_cache/
.coverage
.coverage.*
htmlcov/
.tox/
.nox/

# IDE
.vscode/
.idea/

# Jupyter
.ipynb_checkpoints/

# Environment variables
.env
.env.*
*.zip
# Logs
*.log
*.csv
*.pkl
*.html
# OS files
.DS_Store
Thumbs.db

# Output JSON files
output/*
output/day*/windows/window_*.json
output/day*-drl/windows/window_*.json

